body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, rgb(70, 15, 137), rgb(110, 65, 150));
}

.content {
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}
.button:hover {
    background-color: #0056b3;
}